.container {
	height: 100%;
	overflow: hidden;

	display: flex;
	flex-direction: column;

	.history {
		position: relative;
		height: 100%;
		overflow: hidden;

		.scroll_down {
			position: absolute;
			bottom: 8px;
			right: 0;
			left: 0;
			margin: auto;

			transition: all 0.2s ease-in-out;
			transform: scale(0) translateY(100%);

			&.show {
				transform: scale(1) translateY(0);
			}
		}

		.typing {
			position: absolute;
			bottom: 8px;
			left: 8px;

			padding: 4px;
			border: 1px solid;
			border-radius: 20px;

			transition: all 0.2s ease-in-out;
			transform: scale(0) translateY(100%);

			&.show {
				transform: scale(1) translateY(0);
			}
		}

		.history_content {
			height: 100%;
			overflow-y: auto;

			display: flex;
			flex-direction: column-reverse;

			.system_message {
				margin: 8px auto;
				padding: 4px 8px;
				border-radius: 16px;
			}
		}

		.dropzone {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			padding-bottom: 8px;
			backdrop-filter: blur(2px);
			pointer-events: none;
			color: white;

			.dropzone_content {
				width: 100%;
				height: 100%;

				display: flex;
				flex-direction: column;
				justify-content: center;
				text-align: center;

				border: 2px dashed;
				border-radius: 8px;
			}
		}
	}

	.input_container {
		width: 100%;

		.input {
			width: 100%;
			padding: 4px;

			border: 1px solid;
			border-radius: 24px;
		}
	}
}
