.message {
	width: 100%;
	padding-right: 8px;

	display: flex;

	&.me {
		flex-direction: row-reverse;
	}

	&.other {
		flex-direction: row;
	}

	.container {
		max-width: 50%;
		padding: 4px;
		border-radius: 16px;
		border: 1px solid;
		word-break: break-all;

		.file_item {
			padding: 4px;
			display: flex;
			align-items: center;
			gap: 8px;

			.file_icon {
				width: 60px;
				height: 60px;
				object-fit: cover;
				border-radius: 8px;
			}

			.file_name {
				flex: 1;
				width: 100%;
			}
		}

		.text {
			padding: 0 4px;
		}
	}
}
